# GA settings

# 0 = dcd file, 1 = random
# random required params: max-radius
population-type: 0

population-size: 40
elitism: true
crossover: 0.8
mutation: 0.2
max-generations: 20
results: results.csv

#seed: 1337
xyz-files: benchmark/dft-qm-mm.xyz, benchmark/r-qm-mm.xyz, benchmark/dft-qm-mm2.xyz, benchmark/r-qm-mm2.xyz

# solo, ga, xyz, indexes, index_ga
eval-type: xyz


index-file: dcd-output-semi.csv
index-max: 488;